/*
 * Empty Stylesheet file.
 */

.btn-outline{
    -fx-padding: 10px 20px 10px 20px;
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-cursor: hand;
}

.btn-outline:hover {
    -fx-background-color: #FEFEFE;
}

.box-combo{
    -fx-padding: 6px;
    -fx-text-box-border: transparent;
    -fx-border-color: #C5BCBC;
    -fx-border-radius: 1px;
    -fx-text-fill : black;
    -fx-border-width: 1px;
    -fx-background-color: #FCFCFC;
    -jfx-focus-color: #4c4c4c00;
    -jfx-unfocus-color: #4c4c4c00;
}

.box-combo .cell:selected{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.box-combo-error{
    -fx-border-color: #E47777;
    -fx-background-color: #F8EDED;
}

.box-combo-valid{
    -fx-border-color: #AADFAF;
    -fx-background-color: #F2FBF3;
}

.form-text{
    -fx-padding: 10px;
    -fx-text-box-border: transparent;
    -fx-border-color: #C5BCBC;
    -fx-border-radius: 1px;
    -fx-text-fill : black;
    -fx-border-width: 1px;
    -fx-background-color: #FCFCFC;
    -jfx-focus-color: #4c4c4c00;
    -jfx-unfocus-color: #4c4c4c00;
}

.form-text:focused{
    -fx-background-color: white;
    -fx-border-color: #AACADF;
}

.form-text-error{
    -fx-border-color: #E47777;
    -fx-background-color: #F8EDED;
}

.form-text-valid{
    -fx-border-color: #AADFAF;
    -fx-background-color: #F2FBF3;
}

.btn{
    -fx-padding: 10px;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-border-radius: 2px;
    -fx-background-color:black;
    -fx-text-fill : white;
    -fx-cursor: hand;
}

.btn:hover{
    -fx-background-color:#3B3B3B;
}

.btn:disabled{
    -fx-background-color:#BBB9C8;
}

.label-btn{
    -fx-cursor: hand;
}

.sidebar-menu-btn{
    -fx-text-fill: #dad8d8
}

.sidebar-menu-btn:hover{
    -fx-background-color: #415367;
}

//Datepicker
.date-picker > .text-field {
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}

.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
    -fx-background-color:
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;
}

.custom-date-picker{
    .text-field{
        -fx-background-color: #C5BCBC; // Border
        -fx-control-inner-background: #FCFCFC; //Background
    }
}

.custom-date-picker:focused{
    .text-field{
        -fx-background-color: #AACADF; // Border
        -fx-control-inner-background: white; //Background
    }
}


.custom-date-picker-error{
    .text-field{
        -fx-background-color: #E47777; // Border
        -fx-control-inner-background: #F8EDED; //Background
    }
}

.custom-date-picker-valid{
    .text-field{
        -fx-background-color: #AADFAF; // Border
        -fx-control-inner-background: #F2FBF3; //Background
    }
}
